<!-- Banner -->
<section class="bw banner banner-responsive" style="background-image: url('<f:cObject typoscriptObjectPath="lib.topImage" />')" 
	data-speed="20" data-type="background">
		<div class="container banner-flex">
			<f:cObject typoscriptObjectPath="lib.bannerCaption" />
			<div class="button-2-container">
				<div class="button button-2"><f:link.page pageUid="{settings.modelListPage}">{f:translate(key: 'content.meetOurModels', extensionName: 'escort_site')} </f:link.page></div>
				<div class="button button-2-2"><f:link.page pageUid="{settings.modelListPage}">&nbsp;</f:link.page></div>			
			</div>
		</div>
</section>
<div class="banner-bottom1"></div>
<div class="banner-bottom2"></div>