<div class="bottom">
	<div class="pattern"><span></span></div>
	<f:cObject typoscriptObjectPath="lib.bottomLogo" />
</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 footer-menu">
					<f:render partial="Navigation/FooterMenu" arguments="{_all}" /> 			
					<f:cObject typoscriptObjectPath="lib.copyright" />			
				</div>
				<div class="col-md-4">
					<div class="socials">
						<span class="social__skype social-icon"><a href=""></a></span>
						<span class="social__fb social-icon"><a href=""></a></span>
						<span class="social__twitter social-icon"><a href=""></a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>