<f:render partial="Header" arguments="{_all}" /> 
<f:render partial="Banner" arguments="{_all}" /> 	

<div class="main text-area">
	<!-- Header before pattern -->
	<div class="container">
		<f:render section="Header" />
	</div>		
	<div class="pattern"><span></span></div>
	<div class="container">
		<f:render section="Main" />
	</div>
	<div class="pattern"><span></span></div>
	
	<!-- Parallax Section 1 -->
	<section class="banner bw banner2" style="background-image: url('fileadmin/assets/girl-section1.jpg')" data-speed="20" data-type="background">
		<div class="container">
		</div>
	</section>
	<div class="shadow-bottom banner2-bottom"></div>
	

	<!-- Header2 before pattern -->
	<div class="container">
		<f:render section="Header2" />
	</div>
	<div class="pattern"><span></span></div>
	<!-- Text area -->
	<div class="container">
		<f:render section="Main2" />
	</div>
	<div class="pattern"><span></span></div>
	
	<!-- Parallax Section 2 -->
	<section class="banner bw banner2" style="background-image: url('fileadmin/assets/girl-section2.jpg')" data-speed="30" data-type="background">
		<div class="container">
		</div>
	</section>
	<div class="shadow-bottom banner2-bottom"></div>	
	
</div>
	
<f:render partial="Footer" arguments="{_all}" /> 
