
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 logo">
				<f:cObject typoscriptObjectPath="lib.logo" />
			</div>
			
			<div class="col-md-6">
				<div class="phones">
					<div class="phone"><span>CH:</span> +41 76 302 1099</div>
					<div class="phone"><span>UK:</span> +44 77 000 70463</div>				
				</div>
			</div>			
		</div>
	</div>
</header>

<div class="top-menu__border-top"></div>
<nav class="top-menu">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
		<ul class="">
			<li><a href="">Home</a></li>
			<li><a href="">Escorts Models</a></li>
			<li><a href="">Client Info</a></li>
			<li><a href="">Application</a></li>
			<li><a href="">Links</a></li>
			<li class="last"><a href="">News</a></li>
		</ul> 
			
			</div>
			<div class="col-md-4 right-navigation">

		 <a class="access" href="">VIP Access</a>
		
		<ul class="lang-menu">
			<li><a href="">EN</a></li>
			<li class="last"><a href="">DE</a></li>	
		</ul>
			
			</div>
		</div>	
	</div>
	
</nav>
<div class="top-menu__border-bottom"></div>
<div class="top-menu__border-bottom2"></div>
	

<f:cObject typoscriptObjectPath="lib.topImage" />

<!-- <div class="banner">
	<div class="banner-caption">
		<span class="white-text">Welcome at</span> <span class="black-text">Escort for Pleasure</span><br />
		<span class="white-text">Erotic Escorts for Discerning Tastes</span>
	</div>
	<img src="../Images/assets/girl.jpg" class="bw" alt="" />
</div> -->	
	
<div class="main main-outer">
	<div class="container text-area">
		<h1>ESCORT FOR PLEASURE CASTING</h1>
		<h3>Become an Escort Model</h3>
		
		<p>Throughout the ages and throughout different cultures and societies, muses have played an integral part in educated and cultivated high society. 
Statesmen, artists, philosophers and businessmen have always been seeking inspiration and relaxation with exclusive muses of their times. 
Sophisticated and well educated, skilled in cultivated conversation and equipped wth polished manners as well as elegance and grace, muses 
have always been a source of inspiration for their patrons.With ESCORT FOR PLEASURE, we are bringing to life the venerable tradition of a muse. 
		</p>
		<div class="pattern"><img src="../Images/pattern.png" alt="" /></div>

		<p>Throughout the ages and throughout different cultures and societies, muses have played an integral part in educated and cultivated high society. 
Statesmen, artists, philosophers and businessmen have always been seeking inspiration and relaxation with exclusive muses of their times. 
Sophisticated and well educated, skilled in cultivated conversation and equipped wth polished manners as well as elegance and grace, muses 
have always been a source of inspiration for their patrons.With ESCORT FOR PLEASURE, we are bringing to life the venerable tradition of a muse. 
		</p>
		
		<div class="button"><a href="">Become an Escort Model</a></div>
		
		<p>Throughout the ages and throughout different cultures and societies, muses have played an integral part in educated and cultivated high society. 
Statesmen, artists, philosophers and businessmen have always been seeking inspiration and relaxation with exclusive muses of their times. 
Sophisticated and well educated, skilled in cultivated conversation and equipped wth polished manners as well as elegance and grace, muses 
have always been a source of inspiration for their patrons.With ESCORT FOR PLEASURE, we are bringing to life the venerable tradition of a muse. 
		</p>	
			
	</div>	
	
</div>

<div class="bottom">
	<div class="pattern"><img src="../Images/pattern.png" alt="" /></div>	
	<div class="bottom-logo">
		<a href=""><img src="../Images/logo2.png" alt="" /></a>
	</div>
</div>
	
	<footer class="footer">
		Footer
	</footer>

