/* Banners
 --------------------------------------------------*/
 
.banner { 	
	max-height: 600px; 
	min-height: 600px;  
	margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative;    
  border-bottom: 1px solid #f3f3f3;
	background-attachment: fixed;
	background-position: 50% 100%;
	background-repeat: no-repeat;  
}
.banner-caption {
	text-align: center;
	font-family: 'HelveticaNeueCyr-Light';
	font-size: 48px;
	padding: 160px 0 0 0;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;*/ 	
}
.banner-responsive {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover-image {
	background-position: 50% 50% !important;
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  
	/*-moz-background-size: 100%; 
  -webkit-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%; 
  background-attachment:fixed;
  background-repeat:no-repeat;*/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 480px) {
	.banner-caption {
		padding: 70px 0 0 0;
	}
}
