
h1 {
	font-family: 'MongolianBaiti';
	text-align: center;
}

/* Dummy
 --------------------------------------------------*/
/*
html {
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
	color: #000;
}

.header {
	width: 100%;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	
  align-items: center;
  justify-content: center;
  	
	box-sizing: border-box;	
	min-height: 112px;
	background: #f3f3f3 url(../Images/top-line.png) 0 0px no-repeat; 
	font-family: 'HelveticaNeueCyr-Roman';	
	font-size: 14px;
}
.main {
	width: 100%;
	max-width: 1100px;
	min-width: 240px;
	margin: auto;
	flex-grow: 1;
	box-sizing: border-box;
}
.footer {
	background: #000;
	width: 100%;
	color: #000;
	margin: auto;
	box-sizing: border-box;
}

.container {
	max-width: 1100px;
	padding: 0;
}
*/

/* Header
 --------------------------------------------------*/

/*
.phone {
	margin-left: 65px;
}
.phones {
	position: relative;
	top: 10px;
	float: right;
	padding: 8px 0 0 0;
	height: 55px;
	text-align: left;
	background: url(../Images/icons/icon-phone.png) 0 0px no-repeat; 	
}
.phones span {
	font-family: 'HelveticaNeueCyr-Bold';
}
*/

/* Top Menu
 --------------------------------------------------*/

.top-menu {
	color: #fff;
	background: #2e2e2e;
	background: -moz-linear-gradient(top,  #2e2e2e 0%, #2c2c2c 11%, #090909 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2e2e2e 0%,#2c2c2c 11%,#090909 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2e2e2e 0%,#2c2c2c 11%,#090909 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#090909',GradientType=0 ); /* IE6-9 */	
	border-top: 1px solid #fff;
	font-family: 'HelveticaNeueCyr-Light';
	font-size: 17px;
	text-transform: uppercase;	
}
.top-menu a {
	color: #b7b7b7;
}
.top-menu__border-top {
	border: 1px solid #2c2c2c;
}
.top-menu__border-bottom {
	border: 1px solid #525252;
}
.top-menu__border-bottom2 {
	border: 1px solid #080808;
}

.top-menu ul {
	position: relative;
	top: 7px;
}
.top-menu ul li {
	list-style: none;
	display: inline-block;
	border-right: 1px solid #4d4d4d;
}
.top-menu ul li.last {
	border: none;
}
.top-menu ul li a {
	display: block;
	padding: 0 10px;
}
.top-menu ul li a:hover {
	text-decoration: none;
	color: #fff;
}

a.button,
ul.lang-menu {
	display: inline-block;
}

.banner {
/*	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;	*/

  text-align: center;
}
.banner img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}
.banner-caption {
	position: absolute;
	z-index: 2;
	font-family: 'HelveticaNeueCyr-Light';
	font-size: 48px;
}


.bw {
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bw:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
